@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap");

* {
  box-sizing: border-box;
  user-select: none;
}

a {
  color: #fff;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  color: #ffffffc9;
  background: black;
  font-family: "Cormorant Garamond", serif;
  text-transform: uppercase;
}

#myVideo {
  position: relative;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

h2 {
  font-size: clamp(1rem, 5vw, 5rem);
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.5em;
  margin-right: -0.5em;
  color: #cccccc;
  width: 90vw;
  max-width: 1200px;
}

header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
  width: 100%;
  z-index: 3;
  height: 7em;
  font-family: "Bebas Neue", sans-serif;
  font-size: clamp(0.66rem, 2vw, 1rem);
  letter-spacing: 0.5em;
}

section {
  height: 100%;
  width: 100%;
  top: 0;
  position: fixed;
  visibility: hidden;
}
section .outer,
section .inner {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}
section .bg {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  background-size: cover;
  background-position: center;
}
section .bg h2 {
  z-index: 2;
}
section .bg .clip-text {
  overflow: hidden;
}

.info {
  font-weight: 100;
  position: absolute;
  margin: 1em;
  text-transform: none;
  color: #ffffffe3;
  user-select: text;
}

.top {
  top: 5em;
}

.bottom {
  bottom: 1em;
}

.hint {
  position: absolute;
  bottom: 2em;
  font-size: clamp(1rem, 2vw, 2rem);
}

.first .bg {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.3) 100%), url("/images/crystals-in-polarization.jpg");
}

.second .bg {
}

.third .bg {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.3) 100%), url("/images/upper-antelope-canyon.jpg");
}

.fourth .bg {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.3) 100%), url("/images/spores-of-mucor.jpg");
}

.fifth .bg {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.3) 100%), url("/images/prague-astronomical-clock.jpg");
  background-position: 50% 45%;
}

.sixth .bg {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.3) 100%), url("/images/life-sized-murals of-the-dalai-Lama.jpg");
  background-position: 50% 45%;
}

.seventh .bg {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.3) 100%), url("/images/sacred-monkeys-japan.jpg");
  background-position: 50% 45%;
}

.e8 .bg {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.3) 100%), url("/images/edinburgh.jpg");
  background-position: 50% 45%;
}


h2 * {
  will-change: transform;
}

p {
  display: block;
}

.address {
  position: absolute;
  bottom: 21%;
  text-align: center;
  padding: 1em;
}

.width-half {
  width: 50%;
}

video {
    object-fit: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: 0;
}

// Filter effects

.hue {
  animation: hue 10s infinite;
}

@keyframes hue {
  0%, 100%  { filter: hue-rotate(0deg); }
  50% { filter: hue-rotate(180deg); }
}